.card {
  margin: 15px 0 15px 15px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: white;
  max-width: 1000px;
  width: 100%;
}

.card-header {
  background-color: rgb(71, 148, 218);
  font-size: 1.5rem;
  padding: 15px;
  color: white;
  transition: all 0.3s ease;
  text-align: center;
}

.card-body {
  text-align: center;
  transition: all 0.3s ease;
}

.card-body h6,
.card-body ul,
.card-body p {
  text-align: left;
}

.card:hover {
  transform: scale(1.03);
  box-shadow:
    0 8px 16px rgba(0, 0, 0, 0.2),
    inset 0 0 8px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
}

.card:hover .card-header {
  background-color: rgb(64, 133, 196);
}

.card-footer {
  padding: 0 0 15px 15px;
  border: none;
  background: none;
  text-align: center;
}

.btn-outline-primary {
  --bs-primary: rgb(71, 148, 218);
  --bs-primary-rgb: 71, 148, 218;
  border-color: rgb(71, 148, 218);
  color: rgb(71, 148, 218);
}

.btn-outline-primary:hover {
  background-color: rgb(71, 148, 218);
  border-color: rgb(71, 148, 218);
  color: white;
}

.create-card {
  margin: 15px 0 15px 15px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: white;
}

.create-card .card-body {
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.create-card:hover {
  transform: scale(1.03);
  box-shadow:
    0 8px 16px rgba(0, 0, 0, 0.2),
    inset 0 0 8px rgba(0, 0, 0, 0.1);
}

.create-card:hover .card-body {
  background-color: rgb(71, 148, 218) !important;
  color: white;
}

.create-card .plus-icon {
  transition: color 0.1s ease;
}

.create-card:hover .plus-icon {
  color: white;
}
