.side-column {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
  margin-top: 60px;
  transition: width 0.3s ease;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}
.side-column.collapsed {
  width: 40px;
}
.side-column.expanded {
  width: 30vw;
}
.toggle-section {
  width: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  border-right: 1px solid lightgray;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}
.icon {
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
}
.toggle-section:hover {
  background-color: #f0f0f0;
}
.expanded-content {
  flex-grow: 1;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  background-color: white;
}
