.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

:root {
  --navbar-height: 65px;
  --banner-height: 30px; /* Adjust this to your banner's actual height */
}

/* If you have a banner, adjust the Content padding when banner is present */
.Content {
  padding-top: calc(var(--navbar-height) + var(--banner-height));
}

/* When no banner is present (user is logged in) */
.logged-in .Content {
  padding-top: var(--navbar-height);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
