
.footer {
  font-size: 14px;
  font-weight: 400;
  background-color: #e3e6e8;
  line-height: 1.2;
}

.footer a {
  color: #000;
  text-decoration: none;
}

.footer a:hover {
  color: #cc6600;
  text-decoration: underline;
}

.footer .globalsecondary {
  font-size: 12px;
}

.footer .nrel-attr {
  font-size: 12px;
}
