:root {
  --navbar-height: 65px;
}

.navbar-instance {
  background-color: #ededed;
  color: #5e6a71;
  height: var(--navbar-height);
  font-weight: bold;
  position: fixed; /* Add this */
  top: 0; /* Add this */
  left: 0; /* Add this */
  right: 0; /* Add this */
  z-index: 1030; /* Add this */
  width: 100%; /* Add this */
}

.navbar-menu-container {
  background-color: #ededed;
  color: #5e6a71;
  font-weight: bold;
  height: 100%;
}

.navbar-nav .nav-link {
  color: #5e6a71;
}

.navbar-nav .nav-link:hover {
  color: #000;
  font-weight: bold;
}

.divider {
  border-left: 1px solid #a0a2a3;
  height: 25px;
  align-self: center;
  margin: 0 10px;
}

.fluid-image {
  height: var(--navbar-height);
  width: "100%";
}

/* Add this new class for the main content */
.main-content-wrapper {
  padding-top: var(--navbar-height);
  width: 100%;
  min-height: 100vh;
}
